<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@next"></script>

    <div id="app"></div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            text: "Hello Word!",
            attr: "src",
            img: "https://images3.alphacoders.com/884/884696.jpg",
            counter: 0,
            counter2: 0,
            text2: "Hola vue",
            firstName: "Sharonina",
            lastName: "Arana",
            now: new Date(),
            text3: "Puerta cerrada",
            open: false,
            text4: "Inicia sesion",
            sesionIniciada: false,
            name: "",
            posts: [
              {
                title: "Titulo 1",
                description: "Descripcion",
              },
              {
                title: "Titulo 2",
                description: "Descripcion",
              },
              {
                title: "Titulo 3",
                description: "Descripcion",
              },
            ],
            losItems: ["a", "b", "c", ,],
          };
        },

        methods: {
          increment() {
            this.counter++;
          },
          submit() {
            this.counter2++;
          },
        },

        //permite realizar lógica de js fuera del template. Son totalmente reactivas
        computed: {
          fullName() {
            return this.firstName + " " + this.lastName;
          },
          today() {
            return this.now.toLocaleDateString();
          },
          doorLabel() {
            return this.open ? "Cerrar" : "Abrir";
          },
          styles() {
            return this.open ? ["open"] : ["close"];
          },
          estilos() {
            return this.sesionIniciada ? ["sesionIniciada"] : ["sesionCerrada"];
          },
        },

        // Debe seguir la regla de tener el MISMO nombre de la variable observada, se recomienda que solo se usen para 1 cosa
        // Puede recibir argumentos: 1) Valor que se le acaba de asignar, 2) Valor previo
        watch: {
          open(value) {
            if (value === true) {
              this.text3 = "Puerta abierta";
            } else {
              this.text3 = "Puerta cerrada";
            }
          },
          sesionIniciada(value) {
            if (value === true) {
              this.text4 = "Sesion iniciada";
            } else {
              this.text4 = "Inicia sesion";
              this.name = "";
            }
          },
        },

        //Los templates permiten utiilizar directivas: v-once: no permite que se mute el texto, v-text: se trae lo que hay en variable text en lugar de {{}}, v-html permite inyectar html, escapando los tags (no recomendado para añadir inputs)
        //v-bind: puede recibir argumentos y valores, incluso de forma dinámica (var)
        // v-model: permite hacer combinaciones de atributos y eventos para reducir codigo > @input='input' :value='text2'
        template: `
            <p v-once v-text='text'></p>

            <h3>- Boton click</h3>
            <button v-on:click='increment'>{{counter}}</button>

            <h3>- Boton submit con prevent default</h3>
            <form v-on:submit.prevent='submit'>
              <button>{{counter2}}</button>
            </form>

            <h3>- Input reactivo </h3>
            <p>{{text2}}</p>
            <input type='text' v-model='text2' />

            <h3>- Propiedades computadas</h3>
            <div>{{fullName}}</div>
            <div>{{today}}</div>

            <div class='watchers' :class='styles'>
              <h3>- Watchers</h3>
              <p>{{text3}}</p>
              <button @Click='open = !open'>{{doorLabel}}</button>
            </div>

            <div class='watchers' :class='estilos'>
              <h3>- Listas y condicionales</h3>
              <p>{{text4}}</p>
              <div v-if='sesionIniciada' class='sesionIniciadaContainer'>
                <p>¡Hola, bienvenidx {{name}}!</p>
                <div class='list'>
                  <item
                    v-for='(item, i) in posts'
                    :key='i'
                    :post='item'
                  />
                </div>
              </div>
              <div v-else='!sesionIniciada'>
                <label>Ingresa tu nombre de usuario</label>
                <input type='text' v-model='name' placeholder='Fulanitx perenganita' />
              </div>
              <button @Click='sesionIniciada = !sesionIniciada'>
                <div v-if='!sesionIniciada'>sign in</div>
                <div v-else='sesionIniciada'>sign out</div>
              </button>
            </div>

            <h3>- Slots</h3>
            <div>
              <v-layout>
                <template v-slot:header>
                  <h4>Soy el h4 que viene del template al slot con nombre header</h4>
                </template>
                <template v-slot:content>
                  <p>Soy el parrafo que viene del template al slot con nombre content</p>
                </template>
              </v-layout>
            </div>

            <h3>- Comunicación de componentes: padre > hijo </h3>
            <ul>
              <v-otroItem v-for="(item, i) in losItems" :key=i :textItem='item' ></v-otroItem>
            </ul>

            <img class='foxImg' :[attr]="img" v-bind:alt="img" />
          `,
      });

      //los componentes reciben 2arg principales: nombre del comp, options
      // la forma más facil de añadir props es con [], pero se considera mala practica
      app.component("item", {
        props: ["post"],
        template: `
          <div class='item'>
            <h4 class='title'>{{post.title}}</h4>
            <p>{{post.description}}</p>
          </div>
        `,
      });

      // sintaxis 'v-nombre' cuando el componente será base de otros componentes
      //los slots se traen todo el contenido que tenga el componente. se les puede poner nombre con el atributo 'name' para saber que cosa va especificamente dentro de ellos
      /* app.component("v-header", {
        template: `
          <header>
            <slot/>
          </header>
        `,
      }); */

      app.component("v-layout", {
        template: `
          <header>
            <slot name='header' />
          </header>
          <div>
            <slot name='content' />
          </div>
        `,
      });

      // donde se una un v-bind: se debe hacer una interpolacion de dicha variable
      // la mejor practica para usar props es usar {}, declarandolo como un head
      app.component("v-otroItem", {
        props: {
          textItem: {
            default: "texto vacio",
            type: String,
          },
        },
        template: `
          <li>
            {{textItem}}
          </li>
        `,
      });

      const vm = app.mount("#app");
    </script>

    <style>
      .foxImg {
        width: 90vw;
        margin-top: 1rem;
      }

      .close {
        background-color: #eca1a6;
      }

      .open {
        background-color: #b5e7a0;
      }

      .sesionIniciada {
        background-color: #c2e6f4;
      }

      .sesionCerrada {
        background-color: #6ecae9;
      }

      .sesionIniciadaContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .list {
        display: flex;
        flex-direction: column;
        width: 80vw;
        background-color: aliceblue;
      }
      .item {
        border-top: 1px solid #a1a1a1;
      }
    </style>
  </body>
</html>
